@charset "UTF-8";
@font-face {
    font-family: "cl-bold";
    src: url(../media/fonts/coolvetica/coolvetica-bold.otf);
}

@font-face {
    font-family: "holmesh";
    src: url(../media/fonts/holmesh/Holmesh.otf);
}

* {
    margin: 0px;
    padding: 0px;
}



/* fonts and general*/
:root {
    --regblack: #181818;
    --medblack: #222;
    --darkblue: #274659;
    --regblue: #5A6FC2;
    --violet: #CC92E2;
    --orange: #FFB03B;

    --cl-bold: "cl-bold";
    --regf: "holmesh";
    /* corrigir + footer */
}

p {
    font-weight: 200;
    font-family: var(--cl-bold);
} 

strong {
    color: var(--violet);
}

.sStrong {
    color: var(--orange);
}

.width { 
    width: 100%;
}

.hheight { /* half height*/ 
    height: 30vw;
    min-height: 240px;
}

.fheight {
    height: 60vw;
    
    min-height: 480px;
}



/* others */
.valign-flex {
    display: flex;
    align-items: center;
}

.rflex {
    justify-content: right;
}



/* header */
#mainh {
    display: flex;

    color: #fff;
    background-color: var(--regblack);

    max-height: 15vh;
    min-height: fit-content;
    
    padding: 5vh 0px;

    align-items: center;
    justify-content: center;
}

#mainh > section > h1 {
    font: normal normal max(10vh, 30px) var(--cl-bold);

    text-shadow: 1px 1px 5px #ffffff68;
}

#mainh > section > h2 {
    font: normal 300 max(3vh, 10px) var(--cl-bold);
    text-align: right;
    color: var(--violet);
}

#mainh > section > h2 > a {
    color: var(--violet);
    text-decoration: none;
}

#mainh > section > h2 > a:hover {
    color: var(--orange);
    transition-duration: 250ms;
}



/* horizontal rows and separate paragraph*/
.hrPreset {
    height: 0.25vw;
    border: none;
}

#hrF {
    background-color: var(--orange);
}

.sepP {
    display: inline-block;
    margin-top: 20px; 
}



/* sections */
#sectB1 { /* section block */
    background-color: var(--medblack);
    align-self: start;
}
    
#sectB2 {
    background-color: var(--medblack);
}

#sectB3 {
    background-color: var(--regblack);
}



/* images */
.imgP {
    background: var(--medblack) no-repeat;
    background-size: cover;
    background-attachment: fixed;

    box-shadow: inset 2px 2px 100px #000000a3;
}

#imgA {
    background-image: url(../media/img/space.jpg);
    background-position: top right;
}

#imgB {
    background-image: url(../media/img/f-clock.jpg);
    background-position: bottom left;
}



/* articles */
.patArt { /* article pattern */
    color: #fff;
    font-size: max(3.5vw, 20px);
    padding: 2.5em 1em;
    line-height: 1.5em;
    
    width: fit-content;
    max-width: 50vw;
}

.patArt > p {
    display: inline-block;
}

#fArt { /* final article*/
    color: #222;
}



/* articles boxes */
#artB1 {    
    color: #b670cf;
    background-image: linear-gradient(90deg, #222, #2222227a, #22222262);
}

#artB3 {
    color: #ff8d21;

    background-image: linear-gradient(90deg, transparent, #18181888, #181818 60%);
    text-align: right;
}



/* footer */
#mainf {
    background-color: #f3f3f3;
    
    height: 5vw;
    min-height: 50px;

    padding: 1vw 0;

    font-family: var(--regf);
    justify-content: center;
}

#mainf > article > h1 {
    font-size: max(1vw, 12px);
}

#mainf > article > h2 {
    font-size: max(0.8vw, 10px);
    text-align: center;
}